
<h1>Editing CSV</h1>


<%= render 'form', post: @post %>

<%= link_to  '<button type="button">Show</button>'.html_safe, @post %> |
<%= link_to  '<button type="button">Back</button>'.html_safe, posts_path %>
